*.jl.*.cov
*.jl.cov
*.jl.mem

/Manifest.toml
/docs/build/
/docs/Manifest.toml
/test/Manifest.toml
/libs/**/Manifest.toml

scratchpad.jl

**/.CondaPkg
**/__pycache__
*.ipynb
*.ipynb_checkpoints

*.csv
*.txt
.benchmarkci/
/benchmark/*.json

/docs/src/index.md
/docs/src/examples/*.md

*.pdf

