*.jl.*.cov
*.jl.cov
*.jl.mem

/Manifest.toml
/docs/build/
/docs/Manifest.toml
/benchmark/HMMBenchmark/Manifest.toml

scratchpad.jl

**/.CondaPkg
**/__pycache__
*.ipynb

*.csv
*.txt
.benchmarkci/
/benchmark/*.json

/docs/src/index.md
/docs/src/examples/*.md

.vscode/